.headingDetails {
  margin-inline: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.headingDetails a {
  font-size: 20px;
  font-weight: 700;
  width: 70%;
  text-decoration: none;
  margin-top: 10%;
}

@media screen and (min-width: 992px) {
  .introduction p {
    font-size: 35px;
  }

  .headingDetails {
    padding-top: 0;
    padding-bottom: 1%;
  }
}
